@use 'sass:color';
@use 'sass:map';

$background: #131313;
$button: #1f1f1f;
$lightMode: #ffffff;
$lightBorder: #bbbbbb;
$lightHover: #eaeaea;

////////////////////////////////////////////////
// Normal chat colors
$say: #70c6ff;
$radio: #beffb6;
$me: #5975da;
$ooc: #ffd861;
$looc: #ffceb6;
$whis: #300098;

////////////////////////////////////////////////
// Subchannel chat colors
$ai: #d65d95;
$aerp: #ffbbff; // EFFIGY EDIT lol
$binary: #1e90ff;
$centcom: #2681a5;
$command: #fcffb6;
$engi: #ffefb6;
$hive: #855d85;
$medical: #c2e1ff;
$science: #edb6ff;
$security: #ffb6b6;
$syndicate: #8f4a4b;
$service: #ddffb6;
$supply: #ffceb6;

$_channel_map: (
  'say': $say,
  'radio': $radio,
  'me': $me,
  'whis': $whis,
  'looc': $looc,
  'ooc': $ooc,
  'ai': $ai,
  // EFFIGY EDIT lol
  'aerp': $aerp,
  'binary': $binary,
  'centcom': $centcom,
  'command': $command,
  'engi': $engi,
  'hive': $hive,
  'medical': $medical,
  'science': $science,
  'security': $security,
  'syndicate': $syndicate,
  'service': $service,
  'supply': $supply,
);

$channel_keys: map.keys($_channel_map) !default;

$channel-map: ();

@each $channel in $channel_keys {
  $channel-map: map-merge(
    $channel-map,
    (
      $channel: map.get($_channel_map, $channel),
    )
  );
}
