@font-face {
	font-family: 'Chakra Petch';
	font-style: normal;
	font-weight: 500;
	font-display: block;
	src: url("ChakraPetch-Medium.ttf");
}

@font-face {
	font-family: 'Chakra Petch';
	font-style: italic;
	font-weight: 500;
	font-display: block;
	src: url("ChakraPetch-MediumItalic.ttf");
}

@font-face {
	font-family: 'Chakra Petch';
	font-style: normal;
	font-weight: 600;
	font-display: block;
	src: url("ChakraPetch-SemiBold.ttf");
}

@font-face {
	font-family: 'Chakra Petch';
	font-style: italic;
	font-weight: 600;
	font-display: block;
	src: url("ChakraPetch-SemiBoldItalic.ttf");
}

@font-face {
	font-family: 'Chakra Petch';
	font-style: normal;
	font-weight: 700;
	font-display: block;
	src: url("ChakraPetch-Bold.ttf");
}

@font-face {
	font-family: 'Chakra Petch';
	font-style: italic;
	font-weight: 600;
	font-display: block;
	src: url("ChakraPetch-BoldItalic.ttf");
}
